@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&family=Inter:wght@400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-headline: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;

  --color-primary: #453bed;
  --color-on-primary: #f4f1ff;
  --color-secondary: #595c5e;
  --color-tertiary: #006576;
  --color-surface: #f3f7fb;
  --color-background: #f3f7fb;
  --color-on-surface: #2a2f32;
  --color-on-surface-variant: #575c60;
  --color-surface-container-low: #ecf1f6;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-high: #dde3e8;
  --color-surface-container-highest: #d7dee3;
  --color-tertiary-container: #53ddfc;
  --color-on-tertiary-container: #004b58;
  --color-primary-container: #9695ff;
  --color-on-primary-container: #12007f;
  --color-tertiary-fixed: #53ddfc;
}

@utility signature-gradient {
  background: linear-gradient(135deg, #453bed 0%, #53ddfc 100%);
}

@utility glass-card {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(24px);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-surface text-on-surface font-body;
  }
}
